body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(19, 79, 147);
}
h1{
    font-weight: 900;
    text-align: center;
    color: black;
    font-size: 50px;

}
.h1-fondo{
    background-color: rgba(25, 95, 236, 0.259);
    display: flex;
    flex-direction: column;
    border-style: solid;
}
h2{
    color: rgb(255, 0, 128);
    font-size: 35px;
    text-align: center;
}
.brg{
   
    background-color: #060646;
    font-size: 20px;

}
.contenedor{
    
    background-color: rgb(133, 20, 238);
    max-width: 1200px;
    margin: 0 auto;
}

.navegador{
    
    background-color: #3C00A0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navegador a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 40px;

}
.navegador a:hover{
    
    background-color: #002EFF;

}
.boton{
    
    background-color: rgba(0, 191, 255, 0.766);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 45px;
    border-radius: 10px;
    color: black;

}
.fondo{
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;

}
.transparencia{
    
    margin: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.149);
    width: 100%;
    height: 100%;

}
.transparencia h2{

    padding: 20px;

}
.direccion{

    max-width: 20%;
    margin-left: 350px;
    max-height: 100%;

}
.direccion p{
    
    color: black;
    font-weight: 900;

}
.alinear-boton{
    
    text-align: center;
    margin-top: 50px;

}
.sombra{

    -webkit-box-shadow: 5px 5px 11px 10px rgba(138,138,138,1);
    -moz-box-shadow: 5px 5px 11px 10px rgba(138,138,138,1);
    box-shadow: 5px 5px 11px 10px rgba(138,138,138,1);
    border-radius: 15px;
    padding-bottom: 25px;

}
.contenido-principal{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}
.formulario{
    background-color: #CCCBC8;
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 25px;
}
.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 900;
}

.alinear-boton2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

.arreglo-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 200px;
    column-gap: 10px;

}

.campo{
    margin-bottom: 10px;
}
.campo:nth-child(3),
.campo:nth-child(4){
    grid-column: 1/3;
}

.input-text{
    width: 100%;
    border: none;
    margin: 10px 0;
    height: 30px;
}

.area-text{
    height: 150px;
}

.cursor{
    margin-top: 15px;
}

.cursor:hover{
    cursor: pointer;
}

.footer{
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    
}
.center{
    text-align: center;
}

@media (max-width: 768px) {
    .con_sidebar {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    aside {
        grid-column: 2 / 3;        
    }
    .contenedor{
      width: 90%;
    }
    .cuerpoS{
      width: 95%;
    }
    
    .imgCarousel{
      width: 105px;
      height: 105px;
    }
    .imgCarousel:hover{
      width: 75px;
      height: 75px;
    }
    .formulario{
        background-color: #CCCBC8;
        width: 400px;
        margin: 0 auto;
        border-radius: 15px;
        margin-bottom: 40px;
        padding: 25px;
    }
    .contenedor{
    
        background-color: rgb(133, 20, 238);
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .navegador{
        
        background-color: #3C00A0;
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }
    .navegador a{
        
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        padding: 10px 40px;
    
    }
    .navegador a:hover{
        
        background-color: #002EFF;
    }
}